.message-box{
  .col;
  flex: 1;
  margin-left: 20px;
  .message-content{
    flex: 1;
    max-height: calc(100vh - 240px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
  }
  .message-input{
    text-align: right;
    background-color: white;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    .input{
      display: block;
      box-sizing: border-box;
      resize: none;
      width: 100%;
      outline: none;
      border: 0px;
    }
    .send-button{
      // position: absolute;
      right: 1px;
      bottom: 1px;
    }
  }
}