.message-box{
  .col;
  flex: 1;
  margin-left: 20px;
  .room-detail{
    .row;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    background-color: white;
    text-align: left;
    border-bottom: 1px solid #ecedf1;
    padding-left: 20px;
    justify-content: space-between;
  }
  .message-content{
    .col;
    flex: 1;
    max-height: calc(100vh - 80px - 60px - 72px - 162px - 32px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
  }
}