.user-message{
  .row;
  padding: 10px;
  align-items: flex-start;
  img{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(149, 165, 166, 0.6);
    border-radius: 100%;
    margin-right: 20px;
  }
  span{
    font-size: 14px;
    color: white;
    padding: 10px;
    background-color: rgb(149, 165, 166, 0.6);
    border-radius: 8px;
  }
}